{% extends 'base.html' %}

{% block title %} Madlibs! {% endblock %}

{% block content %}

  <h1 class="pt-4 mb-3 text-center">Madlibs!</h1>
  
  <form action="/story" class="pb-4">
    
    <!-- Saves story_template from index.html -->
    <input 
      name="story_template"
      value="{{ story_template }}" 
      class="form-control"
      type="hidden">

    <!-- Generates prompts for story.html -->
  {% for prompt in prompts %}
    <div class="form-group row">
      <label class="col-5 col-form-label text-right">{{ prompt }}</label>
      <div class="col-7">
        <input
            name="{{ prompt }}"
            required
            aria-label="{{ prompt }}"
            class="form-control">
      </div>
    </div>
  {% endfor %}

    <button class="btn btn-primary btn-lg w-100">
      Make My Story!
    </button>
  </form>

{% endblock %}